:root {
  --primary-color: mediumseagreen;
  --font-family: system-ui;
  --font-size: 16px;
  --line-height: 1.5;
}

body {
  margin: 1rem;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

a {
  color: var(--primary-color);
}

#app {
  margin: 0 auto;
  max-width: 970px;
}